<div class="container" style="padding: 30px;">
  <div class="row">
    <h1 style="text-align: center;">Photo App Task</h1>
  </div>
  <div class="row">
    <div class="col-12 col-sm-6 col-md-4 col-lg-3" *ngFor="let photo of photos">
      <div class="card mb-4">
        <img
          [src]="photo.thumbnailUrl"
          class="card-img-top"
          alt="{{ photo.title }}"
        />
        <div class="card-body">
          <p class="card-title">{{ photo.title }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
